/* @media (max-width: 599px){
    .container .container-content{
        height: 92%;
        width: 80%;
        background-color: hsl(0, 0%, 12%);
        border-radius: 20px;
        padding: 10px;
    }
} */