@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  hsl(0, 0%, 8%);
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.container .container-content{
    height: 87%;
    width: 80%;
    background-color: hsl(0, 0%, 12%);
    border-radius: 20px;
    padding: 10px;
}

.container-content img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 30%;
    margin-top: 10%;
}

.container-content .profile-user{
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.profile-user h3{
    margin-top: 10px;
    font-size: 1.6rem;
}

 .profile-user #first-child{
    color: hsl(75, 94%, 57%);
    margin-top: 7px;
    font-size: 1.1rem;
    font-weight: 800;
}

.profile-user p{
    margin-top: 20px;
    padding: 0px 0px;
} 

.container-content .social-links a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 15px;
    background-color: hsl(0, 0%, 20%);
    padding: 10px 20px;
    border-radius: 10px;
}